<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Выбор лобби</title>
</head>
<body>
    <h1 style="color: red">{{ request.session.error }}</h1>
    Введите название лобби:<br><br>
    <input id="room-name-input" type="text" size="100"><br><br>
    <input id="room-name-submit" type="button" value="Войти"><br><br><br><br>
    Или создайте собственное лобби и станьте ведущим:<br><br>
    <input id="room-name-create" type="text" size="100"><br><br>
    <input id="room-name-create-submit" type="button" value="Создать"><br><br>

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            const roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/register/' + roomName + '/';
        };
        document.querySelector('#room-name-create').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-create-submit').click();
            }
        };

        document.querySelector('#room-name-create-submit').onclick = function(e) {
            const roomName = document.querySelector('#room-name-create').value;
            window.location = '/register/' + roomName + '/?leading=' + encodeURIComponent(true);
        };
    </script>
</body>
</html>
