<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Лобби игры</title>
</head>
<body>
<h2>Название лобби: {{ lobby.room_name }}... Ваше имя: {{ user.user_name }}... Ваша
    роль: {{ user.get_user_type_display }}</h2>
<div id="user-list">Список игроков:
    {% for player in lobby.users.all %}
        {% if player.user_type != 1 %}
            <span id="{{ player.user_name }}"
                    {% if player.user_status == 2 %}
                  style="text-decoration: line-through"
                    {% endif %}>
                | {{ player.user_name }} |,
            </span>
        {% endif %}
    {% endfor %}
</div>

<div id="leader_panel" {% if not user.user_type == 1 %}
     hidden
{% endif %}
>
    <p>Консоль ведущего:</p>

    <input id="start-game-button" type="button" value="Начать игру"
            {% if not lobby.room_status == 1 or not lobby.users.count == 9 %}
           hidden
            {% endif %}
    >

    <input id="kill-input" type="text" size="80">
    <input id="kill-submit" type="button" value="Убить">

    <input id="day_start" type="button" value="Начать день"
            {% if lobby.game_time == 1 %}
           hidden
            {% endif %}
    >

    <input id="night_start" type="button" value="Начать ночь"
            {% if lobby.game_time == 2 %}
           hidden
            {% endif %}
    >
</div>
<div id="game-lobby">
    <p>Общий чат</p>
    <textarea id="chat-log" cols="70" rows="15">{% if lobby.chat %}{{ lobby.chat }}{% endif %}</textarea><br>
    <input id="chat-message-input" type="text" size="80"><br>
    <input id="chat-message-submit" type="button" value="Отправить"
            {% if user.user_status == 2 %}
           disabled
            {% endif %}
            {% if lobby.game_time == 2 %}
           disabled
            {% endif %}
    >
</div>
<div id="mafia-chat" {% if user.user_type == 2 %}style="display: none"{% endif %}>
    <p>Чат мафии</p>
    <textarea id="mafia-chat-log" cols="70" rows="15">{% if lobby.mafia_chat %}
        {{ lobby.mafia_chat }}{% endif %}</textarea><br>
    <input id="mafia-message-input" type="text" size="80"><br>
    <input id="mafia-message-submit" type="button" value="Отправить"
            {% if user.user_status == 2 %}
           disabled
            {% endif %}
            {% if lobby.game_time == 1 %}
           disabled
            {% endif %}
    >
</div>
{{ lobby.room_name|json_script:"lobby-name" }}
{{ lobby.game_time|json_script:"lobby-time" }}
{{ user.user_name|json_script:"user" }}
<script>
    const lobbyTime = JSON.parse(document.getElementById('lobby-time').textContent);
    const lobbyName = JSON.parse(document.getElementById('lobby-name').textContent);
    const userName = JSON.parse(document.getElementById('user').textContent);

    if (lobbyTime === 1) {
        document.body.style.backgroundColor = 'white'
    } else {
        document.body.style.backgroundColor = 'darkgrey'
    }

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/lobby/'
        + lobbyName
        + '/'
        + userName
        + '/'
    );

    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        if (data.message.type === 'chat_message') {
            document.querySelector('#chat-log').value += (data.message.message + '\n');
        } else if (data.message.type === 'chat_mafia') {
            document.querySelector('#mafia-chat-log').value += (data.message.message + '\n');
        } else if (data.message.type === 'reload') {
            location.reload()
        }
    };

    chatSocket.onclose = function (e) {
        console.error('Проблема связи с сервером');
    };

    document.querySelector('#chat-message-input').onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#mafia-message-input').onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#mafia-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function (e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'type': 'chat_message',
            'message': message
        }));
        messageInputDom.value = '';
    };

    document.querySelector('#mafia-message-submit').onclick = function (e) {
        const messageInputDom = document.querySelector('#mafia-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'type': 'chat_mafia',
            'message': message
        }));
        messageInputDom.value = '';
    };

    document.querySelector('#kill-submit').onclick = function (e) {
        const messageInputDom = document.querySelector('#kill-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'type': 'kill_user',
            'message': message
        }));
        messageInputDom.value = '';
    };

    document.querySelector('#start-game-button').onclick = function (e) {
        chatSocket.send(JSON.stringify({
            'type': 'start_game',
            'message': 'start_game'
        }));
    };

    document.querySelector(`#day_start`).onclick = function (e) {
        chatSocket.send(JSON.stringify({
            'type': 'day_start',
            'message': 'day_start'
        }));
    };

    document.querySelector('#night_start').onclick = function (e) {
        chatSocket.send(JSON.stringify({
            'type': 'night_start',
            'message': 'night_start'
        }));
    };
</script>
</body>
</html>