<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="register">
    <p>Выбирите имя: </p>
    <input id="register-input" type="text" size="100"><br>
    <input id="register-submit" type="button" value="Выбрать"><br>
</div>
{{ lobby_name|json_script:"lobby-name" }}
<script>
    document.querySelector('#register-input').focus();
    document.querySelector('#register-input').onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#register-submit').click();
        }
    };

    document.querySelector('#register-submit').onclick = function (e) {
        const nameInputDom = document.querySelector('#register-input');
        const name = nameInputDom.value;
        const urlParams = new URLSearchParams(window.location.search);
        const roleParam = urlParams.get('leading');
        console.log(roleParam);
        const leader = !!roleParam;
        const lobbyName = JSON.parse(document.getElementById('lobby-name').textContent);
        window.location = '/game/' + lobbyName + '/' + name + '/?leading=' + encodeURIComponent(leader);
    };
</script>
</body>
</html>